@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

body {
    margin: 0;
}

body * {
    box-sizing: border-box;
}

/* HEADER START*/

.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 92px;
    padding-right: 90px;
}

.header {
    background-color: black;
}

.header-content {
    display: flex;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    margin: 0 auto;
}

.name {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.number {
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;
}

.header-nav {
    list-style: none;
    display: flex;
}


.neader-nav__item {
    margin-right: 47px;
}

.header-nav__link {
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-decoration: none;
    text-transform: uppercase;
    
}

.home {
    color: #E3B873;
}

.button {
    background: #E3B873;
    color: white;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    padding: 13px 33px;
    border: 0;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    height: 37px;
    width: 161px;
}

/* HEADER END*/


/* MAIN START*/ 

/* HERO START*/

.hero {
    background-image: url(../img/hero.jpg);
    height: 707px;
    background-size: cover;
    padding-top: 194px;
    position: relative;
}

.hero-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container {
    position: relative;
    z-index: 1;
    padding-left: 134px;
}

.title {
    font-family: 'Yeseva One';
    margin: 0;
    padding-bottom: 19px;
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    max-width: 515px;
}

.span {
    color: #E3B873;
}

.text-h1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 505px;
    margin: 0;
}

.button-submit {
    background: none;
    color: white;
    border-radius: 2px;
    padding: 13px 33px;
    border: 1px solid white;
    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    height: 51px;
    width: 207px;
    padding: 0;
}

.button-h1 {
    background: #E3B873;
    margin-right: 20px;
    margin-top: 41px;
    border: none;
}

/* HERO END */


/* HERO-2 START */

.hero-2 {
    background-color: rgb(0, 0, 0);
    height: 1074px;
    padding-top: 107px;
    position: relative;
}

.container-completed {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}

.completed-projects {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}

.ul-locations {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 134px;
}

.locations {
    color: rgba(255, 255, 255, 0.3);
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 60px;
}

 ul .locations:first-child {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 7px;
    margin-bottom: 45px;
}

.image-2 {
    height: 482px;
}

.center-block {
    display: flex;
    justify-content: space-between;
    margin-left: 134px;
    margin-right: 134px;
}

.left-block{
    width: 442px;
    position: relative;
}

.completed-projects {
    margin: 0;
}

.other-text {
    font-family: 'Nunito Sans';
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    box-sizing: border-box;
    margin: 0;
    padding-top: 34px;
    padding-bottom: 42px;
}

.parametrs {
    display: flex;
    flex-wrap: wrap;
}

.row {
    width: 190px;
}

.header-row {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
}

.p-row {
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    margin: 0;
    padding-top: 9px;
    padding-bottom: 34px;
}

.ul-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;    
}

.but-nav {
    background-color: black;
    border: 0;
}

.nav {
    position: absolute;
    bottom: 0px;
}

/* HERO-2 END */


/* HERO-3 START */


.container-control {
    width: 817px;
    height: 663px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    top: -324px;
}

.online {
    color: #ffffff;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.camera {
    padding-top: 13px;
    padding-bottom: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play {
    display: flex;
    position: absolute;
    padding: 0;
    top: 240px;
    left: 340px;
    
    z-index: 1;
}

.line {
    margin-bottom: 13px;
    margin-left: 8px;
    margin-right: 8px;
}

.hero-overlay-two {
    content: '';
    position: absolute;
    top: 101px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    height: 434px;
}

.hr {
    width: 55px;
    height: 2px;
    border: 0;
    background: #E3B873;
    border-radius: 30px;
    margin-top: 62.5px;
    margin-bottom: 35px;

}

.abzac {
    margin: 0 auto;
    width: 680px;
    color: #363636;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
}

.form {
    display: flex;
    justify-content: space-between;
    margin-top: 91px;
    padding: 0 20px;
}

.but-sub {
    color: white;
    background: #E3B873;
    height: 51px;
    width: 200px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    border-radius: 2px;
    border: 0;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}

.input {
    border: 0;
    border-bottom: 1px solid silver;
    /* box-shadow: 0 4px 4px -3px rgba(0, 0, 0, .2); */
    height: 30px;
    width: 231px;
    margin-left: -3px;
    color: #FFFFFF;
}

.input::-webkit-input-placeholder { color: rgb(0, 0, 0); }

.label {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 2px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;

    color: rgba(54, 54, 54, 0.5);

    transform: rotate(-0.07deg);
}

.checkbox {
    margin-top: 35px;
    display: flex;
    justify-content: center;
}

.box {
    background: #E3B873;
    border-radius: 1px;
    height: 18px;
    width: 18px;
    margin-top: 1px;
}

.imput-box {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
    padding-left: 8px;
}


/* HERO-3 END */



/* HERO-4 START */

.hero-4 {
    margin: 0 auto; 
    background: url(../img/request-bg.jpg) no-repeat;
    background-position: left bottom;
}

.container-rooms {
    max-width: 1237px;
    height: 700px;
    margin: 0 auto;
    padding: 0;
}

.container-rooms .online {
    color: black;
    padding-top: 148px;
}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    padding: 0;
    margin: 0;
    max-width: 400px;
    max-height: 660px;
}

.photo-design {
    max-width: 392px;
}

.description {
    margin: 0 auto;
    height: 286px;
    max-width: 330px;
    position: relative;
    background: white;
    top: -159px;
}

.header-li {
    color: #363636;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    margin-left: 34px;
    margin-top: 0;
    padding-top: 25px;
    margin-bottom: 13px;
}

.buy-button {
    background: #E3B873;
    height: 54px;
    width: 228px;
    position: relative;
}

.service {
    color: #959595;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    margin-left: 0;
}

.services-list {
    margin-left: 10px;
}

.buy-button {
    display: table-cell;
    vertical-align: middle;
}

.buy {
    color: #FFFFFF;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
}

.container-request {
    display: flex;
    justify-content: space-between;
    height: 650px;
    margin-top: 257px;
}

.number-div {
    margin-left: 150px;
    height: 645px;
    padding-top: 120px;
    padding-bottom: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.list-item {
    background: #E3B873;
    width: 59px;
    height: 59px;
    border: 7px solid white;
    border-radius: 50%;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.numb {
    color: white;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.number-circle {
    display: flex;
}

.number-text {
    padding-left: 21px;
    color: #363636;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
}

.request {
    /* margin-top: 120px; */
    top: 120px;
    position: relative;

    height: 509px;
    width: 506px;
    background: black;
}

.feedback {
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 28px;
    margin-bottom: 0;
    height: 47px;
}

.label-feedback {
    display: flex;
    flex-direction: column-reverse;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    height: 47px;
}

.position {
    margin: 0 auto;
    width: 411px;
}

.putin {
    margin: 0;
    background: rgb(0, 0, 0);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    width: 408px;
    margin-top: 6px;
}

.pm {
    margin-top: 48px;
}

#pm {
    margin-top: 39px;
}

.putin::-webkit-input-placeholder { color: rgb(255, 255, 255); }

.call {
    width: 213px;
    position: relative;
    left: 197px;
    top: 39px;
}

.boxcheck {
    margin-top: 16px;
    justify-content: flex-start;
}

.putin-box {
    color: white;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 163.68%;
}

.pig {
    margin-right: 150px;
    display: flex;
    margin-bottom: 242px;
    margin-top: 8px;
    justify-content: flex-end;
}

.pig-img {
    width: 75px;
    height: 75px;
}

.pig-text {
    align-content: center;
    color: #E3B873;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin: 0;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

/* HERO-4 END */


/* HERO-5 START */

.hero-5 {
    height: 864px;
    background: url(../img/image\ 5.1.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    
    justify-content: space-between;
}

.hero-5-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-5-container {
    position: relative;
    z-index: 1;
}

.header-gallery {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
    padding-top: 137px;
    margin: 0;
    max-width: 280px;
}

.style {
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    list-style-type: none;
    margin-top: 25px;
    height: 24px;
}

.styles-rooms {
    margin: 0;
}

#first-style {
    color: #E3B873;
    margin: 0;
    margin-top: 47px;
    border-bottom: 1px solid #E3B873;
    width: 150px;
    padding-bottom: 0;
    display: flex;
    align-items: center;
    
}

.styles-rooms {
    padding-left: 0;
}

.hero-gallery {
    display: grid;
    grid-template-columns: 354px 354px;
    grid-gap: 43px;
    width: 751px;
    position: relative;
    top: -129px;
    margin-left: 77px;
}

.photo__1 {
    margin-top: 86px;
    height: 557px;
    width: 354px;
}

.photo__4 {
    position: relative;
    bottom: 368px;
}

/* HERO-5 END */


/* HERO-6 START */

.hero-6 {
    height: 1107px;
    padding-top: 110px;
}

.hero-6 .camera {
    padding-bottom: 25px;
}

.clients-card {
    display: flex;
    justify-content: space-between;
}

.clients {
    color: #000000;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.client {
    height: 428px;
    width: 376px;
}

.family {
    color: #363636;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    text-align: center;
    margin: 0;
    margin-bottom: 39px;
}

.face {
    display: flex;
    margin: 24px;
}

.name_name {
    color: #181818;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-left: 24px;
}

.text-face {
    color: #959595;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 180%;
    padding-left: 20px;
    padding-right: 32px;
    margin: 0;
}

.button-days {
    display: flex;
    vertical-align: middle;
    height: 54px;
    width: 305px;
    background-color: #E3B873;
    margin-top: 63px;
    position: relative;  
}

.mv {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #ffffff;
    padding-left: 18px;
    padding-right: 14px;
    width: 150px;
}

.mv-days {
    margin-left: 17px;
    margin-right: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 135px;
    width: 145px;
}

.mini {
    display: flex;
    justify-content: center;
    height: 32px;
}

.buy {
    margin-left: 16px;
}

/* HERO-6 END */



/* HERO-7 START*/

.hero-7 {
    margin: 0 auto;
}

.container-map {
    background-image: url(../img/map-background.jpg);
    background-size: cover;
    height: 954px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-up {
    position: relative;
    top: -223px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions-form {
    background: #000000;
    height: 446px;
    width: 883px;
    display: flex ;
    flex-direction: column;
    align-items: center;
}

.questions-form .online {
    margin-top: 35px;
}

.inline {
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    width: 520px;
}

.label-questions {
    display: flex;
    flex-direction: column-reverse;
    width: 231px;
}

.label-questions {
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    height: 43px;
}

.input-questions {
    background: rgb(0, 0, 0);
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    height: 30px;
    width: 231px;
    margin-left: -3px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.input-questions::-webkit-input-placeholder { color: rgb(255, 255, 255); }

.email-quest {
    margin-top: 90px;
    width: 520px;
}

.quest {
    width: 520px;
    margin-bottom: 47px;
}

.quq {
    margin: 0;
}

.but-over {
    background: #E3B873;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    color: #FFFFFF;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    height: 51px;
    width: 200px;
    border: 0;
    margin-top: 51px;
}

.adress {
    color: #E3B873;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    height: 51px;
    margin-top: 52px;
}

.last-img {
    display: flex;
    justify-content: space-between;
    width: 71px;
    margin-bottom: 40px;
}

.hero-overlay-map {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
}

.hero-container-map {
    position: relative;
    z-index: 1;
}

.map-img {
    width: 950px;
}

/* HERO-7 END */ 


/* FOOTER START */

footer .header-content {
    height: 133px;
}

/* FOOTER END */

@media (max-width: 1300px) {

}

@media screen {
    
}